@charset 'UTF-8';
@import './reset.scss';
//Base style
@import "./base/global";

@import "./layout/header";

// Page-specific styles
@import './pages/home';
@import './pages/personal';
@import './pages/accounts';


.slide {
    // margin: 0 1rem 0 1rem !important;
}

.group-input {
    margin-top: 10px;

    input[type="text"] {
        width: 100%;
        padding: .5rem .2rem .5rem .2rem;
        border-radius: 3px;
        outline: none;
        border: 1px solid rgb(105, 105, 105);
    }

    .label {
        font-size: .8rem;
        font-weight: bolder;
        // line-height: 1rem;
    }

    .input-error {
        line-height: .8rem;
        font-weight: bold;
        font-size: .8rem;
        color: red;
    }
}