body {
  font-family: Poppins, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  background-color:#F6F6F6;
  padding: 0px;
  margin: 0px;
}
